sudo: false
dist: trusty
cache: yarn
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

language: node_js


before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

before_script:
- yarn global add @angular/cli
- ng set --global packageManager=yarn

jobs:
  include:
    - script: ng test -sr
      node_js: "6"
      node_js: "node"
    - stage: integration
      script: ng e2e
      node_js: "6"
      node_js: "node"
    - stage: deploy
      node_js: "node"
      script:
        - ng build --prod --base-href /diablo3cube/ --deploy-url https://seeker.github.io/diablo3cube/
      deploy:
        provider: pages
        skip_cleanup: true
        local_dir: dist
        github_token: $GITHUB_OAUTH_TOKEN
        on:
          branch: master
