<h2>
  Items
</h2>

<Button (click)="showArmors()">Armor</Button>
<Button (click)="showWeapons()">Weapons</Button>
<Button (click)="showJewelry()">Jewelry</Button>
<label>Filter:</label>
<input type="search" #filter (input)=onSearchChange()>
<table class="items">
  <tr>
    <th>Name</th>
    <th>Season</th>
    <th>Normal</th>
    <th>Stashed</th>
    <th>Affix</th>
  </tr>
  <tr class="item-row" app-item-detail (onSelectionChange)="onSelectionChange($event)" [item]="item" *ngFor="let item of items | itemSearch:filter.value | itemFilter"></tr>
</table>
